Importing necessary things

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.datasets
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn import metrics

In [20]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn.tree import export_graphviz
import graphviz
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, accuracy_score


from sklearn.metrics import classification_report,accuracy_score,confusion_matrix
from sklearn.metrics import accuracy_score

In [21]:
#https://drive.google.com/file/d/1oa39KuPW_GaWX3uLkchIbUGV_pAujMJR/view?usp=share_link
#/content/drive/MyDrive/research/project with promela/kc_house_data.csv
#house_dataset=pd.read_csv("https://drive.google.com/file/d/1oa39KuPW_GaWX3uLkchIbUGV_pAujMJR/view?usp=share_link")

house_dataset=pd.read_csv("/content/drive/MyDrive/research/project with promela/kc_house_data.csv")

loading is done, our whole dataset is saved in house_dataset variable


dataset ta preview korbo amara, just to see ata dekte kamon

In [22]:
#imspecting the first rows of the dataframe, herehouse_dataset is our dataframe
house_dataset.head()  #collum

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [23]:
#checking the number of rows and columns, ie the number of data points
house_dataset.shape 
#21 collum 21613 rows!

(21613, 21)

this is a huge dataset with 21 collum and 21,613 instances

In [24]:
#getting some information about this data set
house_dataset.info()  
#object are caterogical data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

we should drop id collum cause price dont depend on id, keeping id collum is unnecessary..

lat, long ki Allahi jane. any idea? lat and long jinishta ki?

In [25]:
#lets see if in a row any data is missing
house_dataset.isnull()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21609,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21610,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21611,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21612,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [26]:
house_dataset.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

isnull().sum() is 0. that means kono value missing nai.
missing thakle avg, mean, median, mode diea replace kora lagto

In [27]:
#lets drop ID collum

# house_dataset["id"]= house_dataset["id"].replace({"completed":"complete"})
# house_dataset=house_dataset[house_dataset["id"].notnull()]

In [28]:
# checking the distribution of categorical data. NO need because kono data string value na, shob integer or float

# print(house_dataset.fuel.value_counts())
# print(house_dataset.seller_type.value_counts())
# print(house_dataset.transmission.value_counts())
# print(house_dataset.owner.value_counts())

In [46]:
import pandas as pd

# load your dataset into a pandas DataFrame
df = pd.read_csv("/content/drive/MyDrive/research/project with promela/kc_house_data.csv")

# check if any column contains non-numeric values
for col in df.columns:
    if df[col].dtype == 'object':
        print(f"Column {col} contains non-numeric values.")

Column date contains non-numeric values.

In [47]:
X = house_dataset.drop(['id','price','date'],axis=1)     #everything except id, and price is on the X variable. we ignore id cause we dont need it.
#we ignore price because price will be on the Y variable
Y = house_dataset['price']

In [48]:
print(X)

       bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  \
0             3       1.00         1180      5650     1.0           0     0
1             3       2.25         2570      7242     2.0           0     0
2             2       1.00          770     10000     1.0           0     0
3             4       3.00         1960      5000     1.0           0     0
4             3       2.00         1680      8080     1.0           0     0
...         ...        ...          ...       ...     ...         ...   ...
21608         3       2.50         1530      1131     3.0           0     0
21609         4       2.50         2310      5813     2.0           0     0
21610         2       0.75         1020      1350     2.0           0     0
21611         3       2.50         1600      2388     2.0           0     0
21612         2       0.75         1020      1076     2.0           0     0

       condition  grade  sqft_above  sqft_basement  yr_built  yr_renovated  \
0              3      7        1180              0      1955             0
1              3      7        2170            400      1951          1991
2              3      6         770              0      1933             0
3              5      7        1050            910      1965             0
4              3      8        1680              0      1987             0
...          ...    ...         ...            ...       ...           ...
21608          3      8        1530              0      2009             0
21609          3      8        2310              0      2014             0
21610          3      7        1020              0      2009             0
21611          3      8        1600              0      2004             0
21612          3      7        1020              0      2008             0

       zipcode      lat     long  sqft_living15  sqft_lot15
0        98178  47.5112 -122.257           1340        5650
1        98125  47.7210 -122.319           1690        7639
2        98028  47.7379 -122.233           2720        8062
3        98136  47.5208 -122.393           1360        5000
4        98074  47.6168 -122.045           1800        7503
...        ...      ...      ...            ...         ...
21608    98103  47.6993 -122.346           1530        1509
21609    98146  47.5107 -122.362           1830        7200
21610    98144  47.5944 -122.299           1020        2007
21611    98027  47.5345 -122.069           1410        1287
21612    98144  47.5941 -122.299           1020        1357

[21613 rows x 18 columns]

In [49]:
print(Y)

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21608    360000.0
21609    400000.0
21610    402101.0
21611    400000.0
21612    325000.0
Name: price, Length: 21613, dtype: float64

Splitting Training and Test data
#we are using stratify instead of complete random so that both test and train have relatively similar kind of data

#ratio is 0.2
#so 80% for training and 20% for testing

In [50]:
#X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1, random_state=2)     ##############
#X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1, random_state=2)

from sklearn.model_selection import train_test_split

#X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)
from imblearn.over_sampling import RandomOverSampler
#from sklearn.model_selection import train_test_split

oversampler = RandomOverSampler(random_state=2)
X_resampled, Y_resampled = oversampler.fit_resample(X, Y)

X_train, X_test, Y_train, Y_test = train_test_split(X_resampled, Y_resampled, test_size=0.2, stratify=Y_resampled, random_state=2)
#we are using stratify instead of complete random so that both test and train have relatively similar kind of data

In [51]:
X_train.shape

(554252, 18)

In [52]:
X_test.shape

(138564, 18)

idk why ai block ta chara kaj kore na lol

In [35]:
# Impute missing values in X_train and X_test                                                           ##############
# imputer_X = SimpleImputer(strategy='mean')
# imputer_X.fit(X_train)
# X_train_imputed = imputer_X.transform(X_train)
# X_test_imputed = imputer_X.transform(X_test)



# # Impute missing values in Y_train                                                              ########################
# imputer_Y = SimpleImputer(strategy='mean')
# imputer_Y.fit(Y_train.values.reshape(-1, 1))
# Y_train_imputed = imputer_Y.transform(Y_train.values.reshape(-1, 1)).ravel()
# Y_test_imputed = imputer_Y.transform(Y_test.values.reshape(-1, 1)).ravel()

now lets test out different model and see the result.
#finally we will compar ethe results and we will be able to determine which model
#is best for this specific data set
#in sha Allah

# Decission Tree

In [53]:
import pandas as pd

# load your dataset into a pandas DataFrame
df = pd.read_csv("/content/drive/MyDrive/research/project with promela/kc_house_data.csv")

# check if any column contains non-numeric values
for col in df.columns:
    if df[col].dtype == 'object':
        print(f"Column {col} contains non-numeric values.")

Column date contains non-numeric values.

In [36]:
#tree = DecisionTreeRegressor()

In [37]:
#tree.fit(X_train, Y_train)

In [38]:
# # Predict using the imputed testing data
# y_pred_tree = tree.predict(X_test_imputed)

In [54]:
from sklearn.tree import DecisionTreeClassifier

In [55]:
dt = DecisionTreeClassifier()

In [56]:
#fit the model on training data
dt.fit(X_train, Y_train)

DecisionTreeClassifier()

In [57]:
#predict output on test data
Y_pred = dt.predict(X_test)

In [62]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
print("Accuracy:", accuracy_score(Y_test, Y_pred))
#print("Precision:", precision_score(Y_test, Y_pred))
#print("Recall:", recall_score(Y_test, Y_pred))
#print("F1 Score:", f1_score(Y_test, Y_pred))

Accuracy: 0.9897592448254958